<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        <i id="fa-0" class="fa-solid fa-envelope"></i>
        <a href="mailto:victoria.022@proton.me">victoria.022@proton.me</a> | 
        <i id="fa-1" class="fa fa-github"></i>
        <a href="https://github.com/victoria-riley-barnett"> Github </a> | 
        <i id="fa-2" class="fa fa-linkedin-square"></i>
        <a href="https://www.linkedin.com/in/rileybarnett/"> LinkedIn</a>
      </div>
  
    </div>
  
  </footer>